@import "tailwindcss" theme(static);
@import "@nuxt/ui-pro";

@source "../../../content";

@theme static {
  --font-sans: "Public Sans", sans-serif;

  --color-asphalt-50: #f6f5f0;
  --color-asphalt-100: #e8e6d9;
  --color-asphalt-200: #d3ceb5;
  --color-asphalt-300: #bab08a;
  --color-asphalt-400: #a69669;
  --color-asphalt-500: #97845b;
  --color-asphalt-600: #816d4d;
  --color-asphalt-700: #69563f;
  --color-asphalt-800: #59483a;
  --color-asphalt-900: #4e4035;
  --color-asphalt-950: #16110e;
  
}

.dark {
  --ui-bg: var(--ui-color-neutral-950);
}

:root {
  --ui-radius: var(--radius-md);
}
