@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content";

@theme static {
  --font-sans: "Public Sans", sans-serif;

  --color-asphalt-50: #f6f5f0;
  --color-asphalt-100: #e8e6d9;
  --color-asphalt-200: #d3ceb5;
  --color-asphalt-300: #bab08a;
  --color-asphalt-400: #a69669;
  --color-asphalt-500: #97845b;
  --color-asphalt-600: #816d4d;
  --color-asphalt-700: #69563f;
  --color-asphalt-800: #59483a;
  --color-asphalt-900: #4e4035;
  --color-asphalt-950: #16110e;

  --color-rodeo-50: #f9f6f3;
  --color-rodeo-100: #f2ece2;
  --color-rodeo-200: #e3d6c5;
  --color-rodeo-300: #d1bba0;
  --color-rodeo-400: #c3a283;
  --color-rodeo-500: #b1835e;
  --color-rodeo-600: #a37153;
  --color-rodeo-700: #885b46;
  --color-rodeo-800: #6f4c3d;
  --color-rodeo-900: #5a3f34;
  --color-rodeo-950: #30201a;
}

.dark {
  --ui-bg: var(--ui-color-neutral-950);
}

:root {
  --ui-radius: 0.3rem;
  --ui-container: 85rem;
  --vis-line-gapfill-stroke-dasharray: 1 3;
  --vis-line-gapfill-stroke-opacity: 1;
  --vis-line-gapfill-stroke-dashoffset: 1;
}

/* app/assets/css/main.css */
html {
  scrollbar-gutter: stable;
}

.modal-no-scrollbar,
.modal-no-scrollbar body {
  scrollbar-gutter: auto;
  overflow: hidden;
}

/* Nuxt UI’s scroll lock adds inline padding-right – just drop it */
body[style*="padding-right"] {
  padding-right: 0 !important;
}
