@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content";

@theme static {
  --font-sans: "Public Sans", sans-serif;

  --color-asphalt-50: #f6f5f0;
  --color-asphalt-100: #e8e6d9;
  --color-asphalt-200: #d3ceb5;
  --color-asphalt-300: #bab08a;
  --color-asphalt-400: #a69669;
  --color-asphalt-500: #97845b;
  --color-asphalt-600: #816d4d;
  --color-asphalt-700: #69563f;
  --color-asphalt-800: #59483a;
  --color-asphalt-900: #4e4035;
  --color-asphalt-950: #16110e;

  --color-rodeo-dust-50: #f9f6f3;
  --color-rodeo-dust-100: #f2ece2;
  --color-rodeo-dust-200: #e3d6c5;
  --color-rodeo-dust-300: #d1bba0;
  --color-rodeo-dust-400: #c3a283;
  --color-rodeo-dust-500: #b1835e;
  --color-rodeo-dust-600: #a37153;
  --color-rodeo-dust-700: #885b46;
  --color-rodeo-dust-800: #6f4c3d;
  --color-rodeo-dust-900: #5a3f34;
  --color-rodeo-dust-950: #30201a;

  --color-chetwode-blue-50: #f2f4fb;
  --color-chetwode-blue-100: #e7ebf8;
  --color-chetwode-blue-200: #d4dbf1;
  --color-chetwode-blue-300: #b9c2e8;
  --color-chetwode-blue-400: #9ca4dd;
  --color-chetwode-blue-500: #7e82ce;
  --color-chetwode-blue-600: #6e6bc0;
  --color-chetwode-blue-700: #5e5aa8;
  --color-chetwode-blue-800: #4c4b88;
  --color-chetwode-blue-900: #42416e;
  --color-chetwode-blue-950: #272640;

  --color-dust-storm-50: #fbf6f5;
  --color-dust-storm-100: #f7ece9;
  --color-dust-storm-200: #f1ddd7;
  --color-dust-storm-300: #eaccc3;
  --color-dust-storm-400: #d7a292;
  --color-dust-storm-500: #c6826d;
  --color-dust-storm-600: #b06852;
  --color-dust-storm-700: #935542;
  --color-dust-storm-800: #7a493a;
  --color-dust-storm-900: #674135;
  --color-dust-storm-950: #371f18;
}

.dark {
  --ui-bg: var(--ui-color-neutral-950);
}

:root {
  --ui-radius: 0.15rem;
  --ui-container: 85rem;
  --vis-line-gapfill-stroke-dasharray: 1 3;
  --vis-line-gapfill-stroke-opacity: 1;
  --vis-line-gapfill-stroke-dashoffset: 1;
}

/* app/assets/css/main.css */
/* html {
  scrollbar-gutter: stable;
} */

/* Nuxt UI’s scroll lock adds inline padding-right – just drop it */
body[style*="padding-right"] {
  padding-right: 0 !important;
}
